<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>RayoMakween</title>
</head>

<body>
    <!-- encabezado de la pagina-->
    <header>
        <!--barra de navegacion-->
        <section class="BarraNavegacion">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div></div>
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link navbar-dark" href="sign_in.html">Iniciar sesion</a>
                        <a class="nav-link navbar-dark" href="service.html">Servicios</a>
                        <a class="nav-link navbar-dark" href="contact.html">Contáctanos</a>
                        <a class="nav-link navbar-dark" href="how_we.html">Quien somos</a>
                        <a class="nav-link navbar-dark" href="index.html">Inicio</a>
                    </div>
                </div>
            </nav>
        </section>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <!--formulario-->
                <div class="col-4 align-self-center">
                    <div class="display-4 mb-3 text-center">Recuperar Contraseña</div>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Crear Contraseña:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirmar Contraseña:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                            <small id="passwordHelp" class="form-text text-muted">
                                Utiliza ocho caracteres como mínimo con una combinación de letras, números y símbolos.
                            </small>
                        </div>
                        <div class="form-group form-check">
                            <a href="Login.html">Prefiero iniciar sesion</a>
                        </div>
                        <button onclick="validarFormulario"    type="submit" href="profile.html" class="btn btn-primary">Enviar</button>
                        <button type="reset" class="btn btn-danger">Limpiar</button>
                    </form>
                </div>
                <!--imagen taller-->
                <div class="col-8 pt-3">
                    <div class="card text-white ">
                        <img class="overflow-hidden w-auto h-auto " src="../complements/TallerM1.jpg" alt="">
                        <div class="card-img-overlay">
                            <h4 class="card-title">Servicio Garantizado</h5>
                                <p class="card-text">Seguridad, rapidez, fiablidad <br> Taller Rayo Makween</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
  </body>
</html>