<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
       <!--barra de navegacion-->
     <header>
        <section class="BarraNavegacion">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div></div>
                <a class="navbar-brand" href="#">RayoMakween</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link navbar-dark" href="index.html">Inicio</a>
                        <a class="nav-link navbar-dark" href="Login.html">Iniciar sesion</a>
                        <a class="nav-link navbar-dark" href="service.html">Servicios</a>
                        <a class="nav-link navbar-dark" href="contact.html">Contáctanos</a>
                        <a class="nav-link navbar-dark" href="aboutus.html">Quienes somos</a>
                    </div>
                </div>
            </nav>
        </section>
    </header>
  
    <main>
        <div class="container-fluid">
            <div class="row">
                <!--formulario-->
                <div class="col-4 align-self-center">
                    <div class="display-4 mb-3 text-center">Perfil del usuario</div>
                    <form>
                      <div class="text-center">
                        <img src=".../complements/fotoM2.jpg" class="rounded" alt="...">
                      </div>
                        <div class="form-group">
                            <label for="exampleNameUser">Nombre del Técnico:</label>
                            <h5>Rafael Cesar Budu Sanchez</h5>
                        </div>
                        <div class="form-group">
                          <label for="exampleYearOld">Edad:</label>
                          <h5>34 años</h5>
                        </div>
                        <div class="form-group">
                          <label for="exampleIdCard">Rut:</label>
                          <h5>18.248.155-k</h5>
                        </div>
                        <div class="form-group">
                            <label for="exampleEmail">Correo eléctronico:</label>
                            <h5>rafa.budu23@RayoMakween.cl</h5>
                        </div>
                        <div class="form-group">
                          <label for="exampleNumber">Número telefonico:</label>
                          <h5>+56 9 8976 6790</h5>
                        </div>
  
                        <button type="submit" class="btn btn-primary">Contactar</button>
                        <button type="submit" class="btn btn-danger">Volver</button>
                    </form>
                </div>
                <!--imagen taller-->
                <div class="col-8 pt-3">
                    <div class="card text-white ">
                        <img class="overflow-hidden w-auto h-auto " src="../complements/TallerM1.jpg" alt="">
                        <div class="card-img-overlay">
                            <h4 class="card-title">Servicio Garantizado</h5>
                                <p class="card-text">Seguridad, rapidez, fiablidad <br> Taller Rayo Makween</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>