<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>RayoMakween</title>
</head>

<body>
    <!--barra de navegacion-->
    <header>
        <section class="BarraNavegacion">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div></div>
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <!--
                        <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                        -->
                        <a class="nav-link navbar-dark" href="sign_in.html">Iniciar sesion</a>
                        <a class="nav-link navbar-dark" href="service.html">Servicios</a>
                        <a class="nav-link navbar-dark" href="contact.html">Contáctanos</a>
                        <a class="nav-link navbar-dark" href="how_we.html">Quien somos</a>
                        <a class="nav-link navbar-dark" href="index.html">Inicio</a>
                    </div>
                </div>
            </nav>
        </section>
    </header>

    <main>
        <div class="container-fluid">
           <div class="row">
               <!--formulario-->
               <div class="col-6">
                   <div class="formulario">
                        
                   </div>
               </div>
               <!--imagen taller-->
               <div class="col-6">
                <img src="../complements/TallerM1.jpg" alt="">
            </div>
                
            </div>
           </div> 
        </div>
        <!--
        <div class="container-fluid p-5 my-5">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="justify-content-center">
                    <h1>Iniciar sesión</h1>
                </div>
            </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <form action="/action_page.php">
                    <label for="name_user">Nombre Usuario</label>
                    <br>
                    <input type="text" name="name_user" placeholder="Ingrese su nombre">
                    <br>
                    <label for="pass_user">Contraseña</label>
                    <br>
                    <input type="password" name="pass_user" placeholder="Ingrese su contraseña">
                    <br>
                    <div class="container d-flex justify-content-lg-start">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <a href="password.html">Olvidé la contraseña</a>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <a href="login.html">Registrarse</a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <ul style="list-style: none;">
                        <input type="submit" value="Ingresar">
                        <form action="index.html" method="get">
                            <button type="submit">Cancelar</button>
                        </form>
                </form>
            </div>
        </div>
        </div>
    </main>
    -->


    <!-- Option : Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous">
    </script>
</body>

</html>